// Modules
@import "modules/placeholders";
@import "modules/colors";

// Partials
@import "partials/global";
@import "partials/buttons";
@import "partials/defaults";
@import "partials/layout";
@import "partials/signin";
@import "partials/components/note-list-item";
@import "partials/components/note-list";
@import "partials/components/alerts";

/*
 * application
 */
body {
  background-color: var(--accent-color);
}

.app-container {
  height: 100%;
  background: var(--primary-color);
}

/*
 * note content
 */
 .note-container {
  background-color: var(--accent-color);
  header {
    background-color: var(--accent-color);
    box-shadow: -10px 10px 10px var(--accent-color);
  }
  // .note-editor {
  //   margin-bottom: 40px;
  // }
 	.inner-content .editable {
 		height: 100%;
 		color: var(--text-color);
    overflow-y: scroll;
    p {
      line-height: 25px;
    }
 		&:focus {
 			outline: none;
 		}
 	}
 	.new-note {
 		position: absolute;
 		top: 20px;
 		right: 20px;
 		color: var(--text-color);
 		font-size: 28px;
 	}
  .delete {
    position: absolute;
    top: 29px;
    right: 46px;
    color: var(--text-color);
    font-size: 14px;
  }
 	.note-state {
 		color: #FFFFFF;
 	}
 }
