// Modules
@import "modules/placeholders";
@import "modules/colors";

// Partials
@import "partials/global";
@import "partials/buttons";
@import "partials/defaults";
@import "partials/layout";
@import "partials/components/note-list-item";

/*
 * application
 */
.app-container {
  height: 100%;
  background: $primary-color;
}

/*
 * note-list.scss
 */
.note-list {
	height: 100%;
	box-shadow: 5px 0px 10px -6px #212121;
}

/*
 * note content
 */
 .note-content {
 	position: relative;
 	.note-editor {
 		height: 100%;
 		color: $text-color;
    p {
      line-height: 25px;
    }
 		&:focus {
 			outline: none;
 		}
 	}
 	.new-note {
 		position: absolute;
 		top: 20px;
 		right: 20px;
 		color: $text-color;
 		font-size: 28px;
 	}
  .delete {
    position: absolute;
    top: 29px;
    right: 46px;
    color: $text-color;
    font-size: 14px;
  }
 	.note-state {
 		color: #FFFFFF;
 	}
 }
