$side-panel-width: 300px;
$text-editor-padding: 40px;

.left-sidebar {
  position: absolute;
  width: $side-panel-width;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;
  -webkit-transition: left 0.2s ease-in;
  box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.05);
  &.hide {
    left: -$side-panel-width;
  }
}

.main-content {
  height: 100%;
  margin-left: $side-panel-width;
  overflow: auto;
  -webkit-transition: margin 0.2s ease-in;
  &.full-screen {
    margin-left: 0;
    header {
      width: 100%;
    }
  }
  header {
    position: fixed;
    width: calc(100% - 300px);
    background-color: $primary-color;
    -webkit-transition: width 0.2s ease-in;
    .left-actions button { float: left; }
    .right-actions button { float: right; }
    .left-actions, .right-actions {
      padding: 10px 20px;
      button {
        height: 40px;
        width: 40px;
      }
    }
  }
  .inner-content {
    height: calc(100% - 60px);
    padding: 10px 40px 40px;
    max-width: 1150px;
    margin: 60px auto 0;
  }
}
