:root {
  --primary-color: #31363B;
  --accent-color: #4A5259;
  --text-color: #DDDDDD;
  --icon-color: #FFFFFF;
  --button-color: #FFFFFF;
}

$primary-color: #31363B;
$accent-color: #4A5259;
$text-color: #DDDDDD;
