/*
 * note-list-item.scss
 */
.note-list-item {
  height: 90px;
  padding: 10px 15px;
  overflow: hidden;
  color: $text-color;
  position: relative;
  background: $primary-color;
  transition: background 0.15s ease-in;
  .title {
    height: 60px;
    overflow: hidden;
    line-height: 20px;
  }
  .hover-action {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary-color;
    // background-color: #5E6771;
    box-shadow: -10px 0px 10px $primary-color;
    // -webkit-transition: width 0.15s ease-in;
    transition: background 0.15s ease-in, box-shadow 0.15s ease-in;
    button {
      opacity: 0.8;
    }
    &.focus-action {
      width: 100%;
      display: inline-flex;
    }
  }
  &:hover {
    .hover-action {
      display: inline-flex;
    }
  }
}

.active .note-list-item {
  background: $accent-color;
  .hover-action {
    background-color: $accent-color;
    box-shadow: -10px 0px 10px $accent-color;
  }
}
