/*
 * note-list-item.scss
 */
.note-list-item {
  height: 90px;
  padding: 10px 15px;
  overflow: hidden;
  color: var(--text-color);
  position: relative;
  background-color: var(--primary-color);
  transition: background 0.15s ease-in;
  box-sizing: border-box;
  .title {
    height: 60px;
    overflow: hidden;
    line-height: 20px;
  }
  .hover-action {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    // background-color: #5E6771;
    box-shadow: -10px 0px 10px var(--primary-color);
    // -webkit-transition: width 0.15s ease-in;
    transition: background 0.15s ease-in, box-shadow 0.15s ease-in;
    button {
      opacity: 0.8;
    }
    &.focus-action {
      width: 100%;
      display: inline-flex;
    }
  }
  &:hover {
    .hover-action {
      display: inline-flex;
    }
  }
}

a.note-list-item-link {
  display: block;
  &.active, &:focus {
    .note-list-item {
      background-color: var(--accent-color);
      .hover-action {
        background-color: var(--accent-color);
        box-shadow: -10px 0px 10px var(--accent-color);
      }
    }
  }
  &:focus {
    outline: none;
    .note-list-item {
      // border-right: 2px solid var(--primary-color);
    }
  }
  &:link {
    text-decoration: none;
  }
}


